@model List<PathologyWeb.CUsers>
@using GridMvc.Html

<div>
    <br />
    <div class="thumbnail">
        <img class="img-responsive" src="http://www.ccgh.com.tw/upload/ad/201512101035_0_大BANNER.jpg" alt="">
        <br />
        <br />
        <h1>病理醫師資訊</h1>
        <p>Input Name is {{ yourName || 'thinker' }}!</p>
        <input type="text" ng-model="yourName" />
        <p ng-controller="ToDoCtrl">NgController is {{ name }}!</p>

        <ul id="Doctors" ng-model="DoctorLic" />
    </div>
</div>
<script>
    function ToDoCtrl($scope) {
        $scope.name = "ControllerName";
    }
</script>
